#!/bin/bash


{% include 'bash_functions.j2' %}
{% include 'linux_install_opennhrp.j2' %}

create_vrf overlay 150

create_mgre gre1 1 10.200.0.22

configure_interface_vrf gre1 10.150.150.22/24 overlay

sleep 1

opennhrp -d

sleep 1

create_dummy dum1
configure_interface_vrf dum1 10.90.90.22/32 overlay


echo > /etc/bird/bird.conf
cat <<EOT >> /etc/bird/bird.conf

log syslog all;

router id 10.90.90.22;

ipv4 table OVERLAY;

protocol kernel {
    scan time 5;
    learn;
    merge paths yes;
    persist yes;

    vrf "overlay";
    kernel table 150;

    ipv4 {
        table OVERLAY;
        import all;
        export where source ~ [ RTS_STATIC, RTS_BGP ];
    };
}

template direct tpl_dir {
    ipv4 {
        import all;
    };
}

protocol device dvc {
    scan time 5;
    interface "dum*";
    interface "eth*";
    interface "gre*";
}


template bgp tpl_bgp {
    local as 65000;
    ipv4 {
        import all;
        export none;
    };
}


filter Export_DUM
{
    if ( net = 10.90.90.22/32 ) then accept;
    reject;
};

filter Import_DIRECT
{
    if ( net = 10.90.90.22/32 ) then accept;
    if ( net = 10.150.150.0/24 ) then accept;
    reject;
};


protocol direct dir_dum from tpl_dir {
    vrf "overlay";
    ipv4 {
        table OVERLAY;
        import filter Import_DIRECT;
    };
}

protocol bgp bgp1 from tpl_bgp
{
    vrf "overlay";
    neighbor 10.150.150.1 as 65000;
    ipv4 {
        table OVERLAY;
        export filter Export_DUM;
        next hop self;
    };
}

EOT

systemctl restart bird || e=1






