#!/bin/vbash
source /opt/vyatta/etc/functions/script-template

if [ "$(id -g -n)" != 'vyattacfg' ] ; then
    exec sg vyattacfg -c "/bin/vbash $(readlink -f $0) $@"
fi

# Configuration items start here

configure

{% set local_id = 12 %}

{% include 'overlay_intf.j2' %}
{% include 'spoke.j2' %}

# Commit, save and exit from subshell

commit
save
exit


