vlan 24

interface vlan 24
  ip address 10.24.24.2/24
  ip virtual-router address 10.24.24.254

interface port-channel 1
  switchport mode trunk
  switchport trunk allowed vlan 24

ip virtual-router mac-address 001c.7300.0999

