{% set pfx_list_name = 'my_aggregate' %}
!
! Create prefix list
!
{% for p in _aggregates_filter_routes|default([]) %}
ip prefix-list {{pfx_list_name}} seq {{loop.index}} permit {{p}}
{% endfor %}

!
! Loop on required route-maps to allow only it
!
{% for m in _aggregates_filter_route_maps|default([]) %}
!
route-map {{m}} permit 10
  match ip address prefix-list {{ pfx_list_name }}
!
route-map {{m}} deny 99
{% endfor %}
