{% set empty_as_path_acl = 1 %}
!
! Create empty as-path
!
bgp as-path access-list {{ empty_as_path_acl }} permit ^$
!
! Loop on required route-maps to allow only it
!
{% for m in _empty_as_path_route_maps|default([]) %}
!
route-map {{m}} permit 10
  match as-path {{ empty_as_path_acl }}
!
route-map {{m}} deny 99
{% endfor %}
