
mkdir -p /etc/rancher/k3s/
cat <<EOF >/etc/rancher/k3s/config.yaml
write-kubeconfig-mode: 644
token: "secret"
node-ip: 10.200.0.{{ local_id }}
cluster-cidr: 10.42.0.0/16
service-cidr: 10.43.0.0/16
disable-network-policy: true
EOF

PRIMARYID=21
BASENET=10.200.0.

export K3S_RESOLV_CONF="/run/systemd/resolve/resolv.conf"

if [ {{ local_id }} -eq $PRIMARYID ]; then
	export INSTALL_K3S_EXEC="server --cluster-init"
else
	export INSTALL_K3S_EXEC="server --server https://${BASENET}${PRIMARYID}:6443"
fi

curl -sfL https://get.k3s.io | bash -s - | tee -a /tmp/k3s.install.txt

ln -s /var/lib/rancher/k3s/agent/etc/cni/ /etc/cni
mkdir -p /opt/cni
ln -s /var/lib/rancher/k3s/data/current/bin/ /opt/cni/bin

# Additional CNI Plugins
cd /root
git clone https://github.com/containernetworking/plugins.git
cd plugins
bash build_linux.sh

for i in bin/*; do
	of="/var/lib/rancher/k3s/data/current/$i"
	[ ! -f $of ] && cp $i /var/lib/rancher/k3s/data/current/$i
done

cd /root

